
  # Get that clone from debevaer github
- name: clone from debeaver git
  ansible.builtin.git:
    repo: https://github.com/dbeaver/cloudbeaver-deploy
    dest: "{{ BASE_DIR }}/myrepo"

  # dbeaver cloud documents say to make a new file from .example.env 
- name: Copy env example file into .env if missing
  ansible.builtin.copy:
    src: "{{ DEBEAVER_DIR }}/.env.example"
    dest: "{{ DEBEAVER_DIR }}/.env"
    remote_src: true # its from remote system not the controller
    force: false # Prevent from overwriting it

- name: Ensure password is chganged in .env
  ansible.builtin.lineinfile:  # Use this model to change default password
    path: "{{ DEBEAVER_DIR }}/.env"
    regexp: "^CLOUDBEAVER_DB_PASSWORD="
    line: "CLOUDBEAVER_DB_PASSWORD=newpassword"


- name : add missed configuration in the .env file 
  ansible.builtin.lineinfile: #We can add a block of code here with blockinline moudle if we need to add more variables
    path: "{{ DEBEAVER_DIR }}/.env"
    line: "REPLICA_COUNT_EE=1"
    create: yes


- name: create and start docker compose services
  community.docker.docker_compose_v2:
    project_src: "{{ DEBEAVER_DIR }}"
    state: present
